build/bin/algolia-key.js
build/Release
coverage
dist
lerna-debug.log
lerna-debug.log.*
lib-cov
lib
logs
node_modules
npm-debug.log
npm-debug.log.*
package-lock.json
pids
selenium-debug.log
test/unit/coverage
test/e2e/reports
waiter.config.js
yarn-debug.log*
yarn-error.log*
.DS_Store
.envrc
.grunt
.idea
.lock-wscript
.npmrc
.vscode
*.log
*.njsproj
*.ntvs*
*.pid
*.seed
*.sln
*.suo